.Header {
    text-align: center;
    background-color: rgb(5, 74, 235);
    font-size: 1rem;
    font-family: "Quicksand", sans-serif;
    color: rgb(255, 255, 255);
    display: flex;
    align-items: center;
}
